@import "~bootstrap/scss/bootstrap";

body {
  background-color: #000000;
  color: #ffffff;
}

.text-underline {
  text-decoration: underline;
}

.bg-transparent {
  background-color: transparent;
}

*[class*="feature-mockup-"] {
  min-height: 400px;
  background-color: #270262;

  &.bg-gray {
    background-color: #303030;
  }

  &.feature-mockup-one {
    height: 850px;
  }

  &.feature-mockup-five {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .xl-four-sevenths {
    flex: 0 0 57.142858%;
    max-width: 57.142858%;
  }

  .xl-three-sevenths {
    flex: 0 0 42.857143%;
    max-width: 42.857143%;
  }
}
