@import "~bootstrap/scss/bootstrap";
@import "./assets/font-awesome-4.7.0/scss/font-awesome.scss";

body {
  background-color: #000000;
  color: #ffffff;
}

.text-underline {
  text-decoration: underline;
}

.bg-transparent {
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .xl-four-sevenths {
    flex: 0 0 57.142858%;
    max-width: 57.142858%;
  }

  .xl-three-sevenths {
    flex: 0 0 42.857143%;
    max-width: 42.857143%;
  }
}
