@import "~bootstrap/scss/bootstrap";

body {
  background-color: #000000;
  color: #ffffff;
}

.text-underline {
  text-decoration: underline;
}

.bg-transparent {
  background-color: transparent;
}

*[class*="feature-mockup-"] {
  min-height: 250px;
  background-color: #270262;

  &.bg-gray {
    background-color: #303030;
  }

  &.feature-mockup-one {
    height: 600px;
  }

  &.feature-mockup-five {
    height: 500px;
  }
}
